{% extends 'base.html' %}
{% block auth %}
<div class="columns is-centered">
    <div class="column is-4">
        <div class="box has-background-info-light">

            <form class="form  has-text-centered" method="post" enctype="multipart/form-data">
                <h1 class="title is-size-2 has-text-centered">Edit profile</h1>
                {% csrf_token %}
                {% for field in form %}
                <div class="field">
                    <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="button is-primary is-fullwidth">
                    Submit
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}